
        body{
            padding: 50px;

        }
        .container{
            max-width:600px;
            margin:0 auto;
            padding:50px;
            box-shadow : rgba(100,100,111,0.2) 0px 7px 29px 0px  ;}
        .form-group{
            margin-bottom:30px;
        }
        footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}